/*@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);*/
/*@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");*/
/*@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|VT323");*/

@font-face {
  font-family: "PS2P";
  src: url('../fonts/start_font/PressStart2P.ttf') format('truetype');
}


#outer-wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
}

#left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  background-color: black;
  width: 20%;
  color: white;
  border: white;
  font-family: "PS2P";
}

#instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: medium dashed white;
  padding: 20px;
  width: 70%;
  height: 30%;
}

#controls {
  display: flex;
  align-self: center;
  text-decoration: underline;
}

#control-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80%;
  align-items: center;
}
ul{
  display: flex;
  flex-direction: column;
  width: 90%;
}
li{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}

#canvas-wrapper {
  display: flex;
  background-color: black;
  width: 60%;
}

#canvas-background {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid red;
  height: 98.5vh;
  width: 100%;
  background-color: black;
  z-index: 0;
}

#canvas-car {
  z-index: 1;
}

#canvas-start {
  font-family: "PS2P";
}


#right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  background-color: black;
  width: 20%;
  color: white;
  font-family: "PS2P";
}

#About-Me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: medium dashed white;
  padding: 20px;
  width: 70%;
  height: 50%;
}

#hi {
  display: flex;
  align-self: center;
  text-decoration: underline;
}

#paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

#icons {
  display: flex;
  justify-content: space-between;
  color: white;
  padding-right: 20px;
}

.fa-github {
  color: white;
}

.fa-linkedin {
  color: white;
}

.fa-envelope-o {
  color: white;
}
